<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /redline/
    
    # Removes index.php from URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
    RewriteRule ^assets/(.*)$ assets/$1 [L]
</IfModule>
